<div class="jumbotron">
  <h1>Doub' 6</h1>
  <p class="lead">
    Générateur de table aléatoire pour tournois de dominos
  </p>
</div>

<div>
  <form name="nombre" ng-submit="vm.generer()">
    <legend>Merci de saisir le nombre de joueurs</legend>
    <div class="form-group">
      <input type="number" class="form-control" id="" placeholder="Nombre de joueurs" ng-model="vm.nbJoueurs"  name="nbJoueurs" ng-required="true" multiple="vm.nbJoueurs" >
      <div class="alert alert-warning" role="alert" ng-show="!vm.checkMultiple() && vm.nbJoueurs > 4">
        <span>Nombre de joueurs non multiple de 4</span>
      </div>
    </div>
  
    
  
    <button type="submit" class="btn btn-primary" ng-show="vm.checkMultiple()">Générer</button>
  </form>
  
  
</div>

<div>
  <div ng-repeat="table in vm.tables" class="table-joueurs col-sm-3">
    <h2>{{'Table '+($index+1) }}</h2>
    <ul>
      <li ng-repeat="joueur in table">{{joueur}}</li>
    </ul>
  </div>
</div>
